{% extends 'main.html' %}

{% include 'navbar.html' %}

{% load static %}

{% block content %}

<div class="list-view">
    <h1>These are your todo lists: </h1>
    {% for todo_lista in todo_lists %}
        <div class="list-box">
            <h2>{{todo_lista.list_name}}</h2>
            <div class="btns">
                <form>
                    <button class="log-button"formaction="{% url 'update-list' todo_lista.id %}">update list</button>
                </form>
                <form>
                    <button class="log-button"formaction="{% url 'delete-list' todo_lista.id %}">delete list</button>
                </form>
            </div>
            <p>'tasks on the list': </p>
            {% for task in tasks %}
                {% if task.parent_list == todo_lista %}
                <div class="task">
                    <h3>{{task.name}}</h3>
                    <input type="checkbox" id={{task.id}} {% if task.isFinished %} checked="checked" {% endif %} />
                    <h5>'{{task.description}}</h5>
                    <div class="btns">
                        <form>
                            <button class="log-button"formaction="{% url 'update-task' task.id %}">Update</button>
                        </form>
                        <form>
                            <button class="log-button"formaction="{% url 'delete-task' task.id %}">Delete</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div>
                <form class="form" method="POST" action="">
                    <p>Add new task here:</p>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" />
                    <input type="hidden" value={{todo_lista.list_name}} name='list_name'>
                </form> 
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
