{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form class ="form" method="POST" action="">
        {% csrf_token %}
        <label>username:</label>
        <input type="text" name="username" placeholder="Enter username"/>
        <label>password:</label>
        <input type="password" name="password" placeholder="Enter password"/>
        <input type="submit" value="Login" />
        <div class="login-additional">
            <h1>Havent signed yet?<h1>
            <form>
                <button class="log-button"formaction="{% url 'register' %}">Register account</button>
            </form>
        </div> 
    </form>
</div>

{% else %}
<div>
    <form class ="form" method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
        <div class="login-additional">
            <h2>Already signed up?<h2>
            <form>
                <button class="log-button"formaction="{% url 'login' %}">Login</button>
            </form>
        </div>
    </form> 
</div>

{% endif %}

{% endblock content %} 