{% load static %}

<div class="navbar-text">
    <img src="{% static '/images/todo-logo.png' %}" class ="logo">
    <h2>TODO APP</h2>
</div>

<div>    
<hr class="navbar-login">
    {% if request.user.is_authenticated %}
    <form>
        <button class="log-button"formaction="{% url 'logout' %}">Logout</button>
    </form>

    {% else %}
    <form>
        <button class="log-button"formaction="{% url 'login' %}">Go to login page</button>
    </form>
    {% endif %}
</div>

<div class="messages">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
